<ion-header>
  <ion-navbar>
    <ion-title color="primary">
      Shopping List
    </ion-title>
	<ion-buttons end>
  <button ion-button [navPush]="addListPage">
      <ion-icon name="add" ></ion-icon>
  </button>
    
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
    <ion-list>
      <ion-list-header>
        items
      </ion-list-header>

      <ion-item detail-push [navPush]="editListPage" [navParams]="{item : item}" *ngFor=" let item of shoppingList$ | async">
        {{ item.name}}
      </ion-item>
    </ion-list>

</ion-content>
